 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   color: #363636;
   font-family: 'Open-sans', sans-serif;
 }
 body {
  cursor: crosshair;
}
a {
  position: relative;
  transition: .3s ease-out;
 }
a.underline {
  display: inline-block;
  font-weight: bold;
  margin: 20px 0;
}
a.underline::after {
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 1px;
  left: 0;
  content: '';
  background: #262626;
  transition: .3s ease-out;
 }
a.underline:hover::after {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 1px;
  left: 0;
  content: '';
}
h1,h2,h3,h4 {
  font-family: 'Oswald', sans-serif;
}
h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}

h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 2.3733333333rem 0 1.424rem 0;
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.9466666667rem 0 1.168rem 0;
  position: relative;
  width: max-content;
  padding-bottom: 10px;;
}

h3::before {
  content: '';
  width: 130%;
  height: 3px;
  background: #363636;
  position: absolute;
  bottom: 0;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.52rem 0 0.912rem 0;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 1.0933333333rem 0 0.656rem 0;
}

h6 {
  font-size: 1.15rem;
  line-height: 110%;
  margin: 0.7666666667rem 0 0.46rem 0;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 33.8667px;;
}

button {
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
  background: none;
  border: none;
  font-weight: bold;
}
button a {
  text-decoration: none;
}
li {
  list-style: none;
}
footer p, footer a {
  font-size: 0.788rem;
  font-weight: 400;
}

.container {
  width: 90%;
  margin: 0 auto;
}

svg {
  fill: #262626;
}
path {
  transition: .3s;

}
svg:hover path {
  fill: rgb(92, 92, 92);
}

@media screen and (min-width: 600px) {
  .container {
    width: 85%;
  }
}

@media screen and (min-width: 920px) {
  .container {
    width: 70%;
  }
}